# --- Django Core Settings ---
SECRET_KEY=

# 開発時True、本番環境False
DEBUG=True

# カンマ区切りで許可するホストを指定（例: localhost,127.0.0.1）
ALLOWED_HOSTS=

# --- Database Settings ---
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# --- Security ---
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=